<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quan.mapper.TbDepartmentMapper">
    <resultMap id="BaseResultMap" type="com.quan.pojo.TbDepartment">
        <!--@mbg.generated-->
        <!--@Table tb_department-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="mgr_id" jdbcType="BIGINT" property="mgrId"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, phone, address, create_time, modified_time, mgr_id, version, deleted
    </sql>
    <select id="getDepartment" resultType="com.quan.vo.TbDepartmentShowView">
        select d.id,
               d.name,
               IFNULL((select count(*)
                       from tb_user u
                       where u.department_id = d.id
                         and u.deleted = 0
                       group by department_id), 0) count
        from tb_department d
        where d.deleted = 0
    </select>
    <select id="findAll" resultType="com.quan.vo.TbDepartmentAndUser">
        select d.id,
               d.phone,
               d.name,
               IFNULL((select count(*)
                       from tb_user u
                       where u.department_id = d.id
                         and u.deleted = 0
                       group by department_id), 0)        count,
               d.create_time,
               d.modified_time,
               IFNULL((select username
                       FROM tb_user u
                                    inner join tb_user_role ur on u.id = ur.user_id
                       WHERE ur.role_id = (select id from tb_role where role_name = '部门主任')
                         and u.deleted = 0
                         and u.id = d.mgr_id), '该部门没有主任') username,
               d.address
        from tb_department d
                     inner join tb_user u on d.mgr_id = u.id ${ew.customSqlSegment}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from tb_department
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="findListExcel" resultType="com.quan.vo.TbDepartmentExcel">
        select d.id,
               d.phone,
               d.name,
               IFNULL((select count(*)
                       from tb_user u
                       where u.department_id = d.id
                         and u.deleted = 0
                       group by department_id), 0)        count,
               d.create_time,
               d.modified_time,
               IFNULL((select username
                       FROM tb_user u
                                    inner join tb_user_role ur on u.id = ur.user_id
                       WHERE ur.role_id = (select id from tb_role where role_name = '部门主任')
                         and u.deleted = 0
                         and u.id = d.mgr_id), '该部门没有主任') username,
               d.address,
               IF(d.deleted = 0, '未删除', '已删除')            deleted,
               d.version
        from tb_department d
                     inner join tb_user u on d.mgr_id = u.id ${ew.customSqlSegment}
    </select>
</mapper>