<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quan.mapper.BizProductMapper">
    <resultMap id="BaseResultMap" type="com.quan.pojo.BizProduct">
        <!--@mbg.generated-->
        <!--@Table biz_product-->
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="p_num" jdbcType="VARCHAR" property="pNum"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="LONGVARCHAR" property="imageUrl"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="one_category_id" jdbcType="BIGINT" property="oneCategoryId"/>
        <result column="two_category_id" jdbcType="BIGINT" property="twoCategoryId"/>
        <result column="three_category_id" jdbcType="BIGINT" property="threeCategoryId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, p_num, `name`, image_url, model, unit, remark, sort, create_time, modified_time,
        one_category_id, two_category_id, three_category_id, `status`
    </sql>
    <select id="findAll" resultType="com.quan.vo.BizProductVO">
        select image_url, `name`, model, stock, unit
        from biz_product
                     inner join biz_product_stock
                on biz_product.p_num = biz_product_stock.p_num ${ew.customSqlSegment}
    </select>
</mapper>